.textarea {
  display: block;
  width: 97%;
  margin: 10px auto;
  resize: none;
  padding: 10px;

  &__label {
    display: block;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
  }
}
