html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-size: 87.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

.block {
  width: 1170px;
}

.heading {
  font-size: 36px;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 900;
  letter-spacing: 2.8px;
  color: #3f3e40;
}

@font-face {
  font-family: 'RalewayBold';
  src: url("../fonts/raleway-extrabold-webfont.eot");
  src: url("../fonts/raleway-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold-webfont.woff2") format("woff2"), url("../fonts/raleway-extrabold-webfont.woff") format("woff"), url("../fonts/raleway-extrabold-webfont.ttf") format("truetype"), url("../fonts/raleway-extrabold-webfont.svg#ralewayextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot") format("eot"), url("../fonts/MyriadPro-Regular.otf") format("otf"), url("../fonts/MyriadPro-Regular.svg") format("svg"), url("../fonts/MyriadPro-Regular.ttf") format("ttf"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.l-container {
  width: 1170px;
  height: 1000px;
  background-color: aliceblue;
  margin: 0 auto;
  padding: 0 20px;
}

.l-wrapper {
  width: 1170px;
  margin: auto;
  padding: 0 20px;
}

.header-wrapper {
  padding-top: 20px;
  padding-bottom: 3px;
}

.l-breadcrumbs {
  width: 100%;
  height: 64px;
  background-color: #29a5d5;
}

.l-employee {
  width: 100%;
  height: 800px;
  padding: 114px 0 37px;
  background-color: #f6f7f7;
  border-bottom: 6px solid #fe5000;
}

.l-feedback {
  height: 650px;
  background: center center url("../img/src/feedback-bg.jpg") no-repeat;
}

.l-footer {
  width: 100%;
  height: 600px;
  background-color: #3f3d40;
}

@media screen and (min-width: 768px) and (max-width: 939px) {
  .l-container {
    width: 100%;
  }

  .l-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .l-container {
    width: 100%;
  }

  .l-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .l-container {
    width: 100%;
  }

  .l-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .l-container {
    width: 100%;
  }

  .l-wrapper {
    width: 100%;
  }
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.breadcrumbs-wrapper {
  width: 1170px;
  padding: 0;
  height: 100%;
}

.breadcrumbs__title {
  line-height: 69px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.breadcrumbs {
  float: right;
  margin: 0;
  line-height: 69px;
}

.breadcrumbs__item {
  display: inline-block;
  margin-left: 11px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.breadcrumbs__item:after {
  content: '';
  display: inline-block;
  margin: 0 0 3px 16px;
  background-image: url("../img/sprite.png");
  background-position: -111px -63px;
  width: 11px;
  height: 7px;
}

.breadcrumbs__item:last-child:after {
  content: '';
  display: none;
}

.breadcrumbs__link {
  color: #a9dbef;
}

.breadcrumbs__link:hover {
  color: #fff;
  cursor: pointer;
}
.employee-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.employee-img {
  margin: 0 29px 37px 0;
}

.employee-info {
  width: 54%;
  margin-top: 36px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.employee-info__name {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #00a7d9;
  word-spacing: 2.8px;
  letter-spacing: .3px;
}

.employee-info__description {
  float: left;
  margin: 20px 0 30px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  letter-spacing: .15px;
}

.employee-contacts__phone {
  margin: 7px 0 2px;
}

.employee-contacts__email,
.employee-contacts__skype {
  margin: 0;
}

.socials__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 50%;
  border: 1px solid #00a7d9;
}

.socials__icon_twitter {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -126px -60px;
  width: 17px;
  height: 13px;
}

.socials__icon_facebook {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -136px -87px;
  width: 8px;
  height: 18px;
}

.socials__icon_linkedin {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -126px -32px;
  width: 16px;
  height: 15px;
}

.socials__icon:hover {
  background-color: #a9dbef;
}

/*employee honors*/

.employee-honors {
  width: 68%;
  margin-right: 5px;
}

.honors-section {
  display: flex;
  align-items: center;
}

.honors-article {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.honors-article__icon {
  display: block;
  background-image: url("../img/sprite.png");
  margin: 46px 14px 0 0;
}

.honors-article__icon_voice {
  background-position: -63px -63px;
  width: 30px;
  height: 27px;
}

.honors-article__icon_idea {
  background-position: -63px -90px;
  width: 23px;
  height: 35px;
  margin: 46px 22px 0 2px;
}

.honors-article__date {
  margin-bottom: 11px;
  color: #555557;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.honors-article__title {
  max-width: 78%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #00a7d9;
  word-spacing: 1.9px;
}

.honors-article__more {
  color: #00a7d9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.honors-article__description {
  max-width: 85%;
  margin: 11px 0 20px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 14px;
  word-spacing: 1.1px;
}

.article-wrapper {
  max-width: 86%;
}

/*employee-skills*/

.employee-skills {
  width: 31.5%;
  float: right;
}

.skills-section {
  margin-top: 46px;
}

.skill-bar {
  width: 70%;
  height: 50px;
  position: relative;
  background-color: #fe5000;
  color: #fff;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.skill-bar:not(:last-child) {
  margin-bottom: 20px;
}

.skill-bar_color1 {
  width: 91%;
}

.skill-bar_color2 {
  width: 100%;
  background-color: #00a7d9;
}

.skill-bar_color3 {
  width: 86.5%;
  background-color: #36ba2f;
}

.skill-bar__name {
  margin-left: 25px;
  line-height: 50px;
  word-spacing: 3.1px;
}

.skill-bar__value {
  position: absolute;
  right: 10px;
  line-height: 50px;
}
.feedback-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.feedback-article {
  width: 370px;
  height: 220px;
  position: relative;
  background-color: #fff;
}

.feedback-article__avatar {
  display: block;
  float: left;
  margin: 30px 30px 0 26px;
}

.feedback-article__avatar_user1 {
  background-image: url("../img/sprite.png");
  background-position: 0px -63px;
  width: 63px;
  height: 63px;
}

.feedback-article__avatar_user2 {
  background-image: url("../img/sprite.png");
  background-position: -63px 0px;
  width: 63px;
  height: 63px;
}

.feedback-article__avatar_user3 {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 63px;
  height: 63px;
}

.feedback__heading {
  display: block;
  text-align: center;
  margin: 0;
  padding: 106px 0 41px;
  font-family: 'RalewayBold', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
}

.feedback__btn-all {
  display: block;
  margin: 20px auto;
  width: 276px;
  height: 60px;
  background-color: #00a7d9;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-family: 'RalewayBold', sans-serif;
}

.feedback__btn-all:hover {
  color: #fe5000;
}

.feedback-decription {
  float: left;
  width: 60%;
}

.feedback-decription__info {
  float: right;
  margin-right: 15px;
  text-align: right;
  color: #00a7d9;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.feedback-decription__text {
  margin: 38px 0 13px;
  line-height: 17px;
}

.feedback-decription__text:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -126px -73px;
  width: 15px;
  height: 14px;
  top: 36px;
  left: 99px;
}
.logo-block {
  width: 300px;
  float: left;
  margin-bottom: 29px;
}

.logo-block__circle {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fe5000;
  font-family: 'Sacramento', cursive;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 68px;
}

.logo-block__title {
  display: inline-block;
  width: 152px;
  position: relative;
  font-weight: bold;
}

.title-main,
.title-main_footer {
  font-size: 32px;
  color: #414042;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.title-main__special {
  margin-right: 2px;
  color: #fe5000;
  letter-spacing: -.8px;
  font-weight: 900;
}

.title-main__additional,
.title-main__additional_footer {
  position: absolute;
  bottom: -4px;
  right: -5px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #787878;
}

.contacts-block {
  width: 260px;
  float: right;
  position: relative;
  margin: 22px 21px 0 0;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.contacts-block__phone {
  margin-left: 16px;
  color: #00a7d9;
}

.contacts-block__phone:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-position: -126px -107px;
  width: 13px;
  height: 14px;
  margin-right: 8px;
}

.contacts-block__email {
  margin-right: 5px;
  color: #00a7d9;
}

.contacts-block__email:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 89px;
  background-image: url("../img/sprite.png");
  background-position: -126px -47px;
  width: 17px;
  height: 13px;
}

.search-block {
  float: right;
  margin-top: 11px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.search-block:after {
  content: '';
  position: absolute;
  right: 18px;
  top: 11px;
  display: inline-block;
  background-image: url("../img/sprite.png");
  background-position: -103px -90px;
  width: 18px;
  height: 18px;
}

.search-block__input {
  width: 238px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #d4d4d4;
  color: #cecece;
  text-indent: 19px;
}

.search-block__input::-webkit-input-placeholder,
.search-block__input ::-moz-placeholder,
.search-block__input :-ms-input-placeholder,
.search-block__input :-moz-placeholder {
  color: #d4d4d4;
}

.header-navigation {
  clear: both;
  height: 47px;
}

.header-navigation__link {
  display: inline-block;
  height: 100%;
  margin-right: 35px;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
  color: #353537;
  font-size: 16px;
  letter-spacing: .1px;
  font-weight: bold;
}

.header-navigation__link:hover {
  border-bottom: 4px solid #fe5000;
}

.footer-menu-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 84px;
  margin-bottom: 85px;
}

.menu-block {
  width: 31.5%;
}

.menu-block__title {
  display: block;
  padding-bottom: 15px;
  margin-bottom: 28px;
  color: #a8abae;
  border-bottom: 2px solid #a8aaad;
  font-size: 24px;
  font-family: 'Myriad Pro', sans-serif;
  letter-spacing: 1.8px;
}

.menu-block__title:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.footer-menu {
  column-count: 2;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 29px;
}

.footer-menu__link {
  display: block;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.footer-menu__link:hover {
  color: #fe5000;
}

.social-menu__link:before {
  content: '';
  display: inline-block;
  background-image: url("../img/sprite.png");
}

.social-menu__link_facebook:before {
  background-position: -126px -87px;
  width: 10px;
  height: 20px;
}

.social-menu__link_twitter:before {
  background-position: -126px -17px;
  width: 18px;
  height: 15px;
}

.social-menu__link_linkedin:before {
  background-position: -126px 0px;
  width: 18px;
  height: 17px;
}

.social-menu__link_google:before {
  background-position: -93px -63px;
  width: 18px;
  height: 20px;
}

.social-menu__link_youtube:before {
  background-position: -86px -90px;
  width: 17px;
  height: 21px;
}

.title-main_footer {
  color: #fff;
}

.title-main__additional_footer {
  color: #fff;
}

.logo-block_footer {
  margin-right: 99px;
}

.company-rights {
  float: left;
  max-width: 63%;
  color: #a8abae;
  font-family: 'Myriad Pro', sans-serif;
}

.company-rights__reserved {
  margin: 6px 0 0;
  font-size: 14px;
  letter-spacing: .4px;
}

.company-rights__description {
  margin: 3px 0;
  font-size: 12px;
  line-height: 17px;
  word-spacing: .5px;
}

.company-rights__policy,
.company-rights__terms {
  color: #fff;
}

.company-rights__policy:hover,
.company-rights__terms:hover {
  color: #fe5000;
}
.logo-block {
  width: 300px;
  float: left;
  margin-bottom: 29px;
}

.logo-block__circle {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fe5000;
  font-family: 'Sacramento', cursive;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 68px;
}

.logo-block__title {
  display: inline-block;
  width: 152px;
  position: relative;
  font-weight: bold;
}

.title-main {
  font-size: 32px;
  color: #414042;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.title-main__special {
  margin-right: 2px;
  color: #fe5000;
  letter-spacing: -.8px;
  font-weight: 900;
}

.title-main__additional {
  position: absolute;
  bottom: -4px;
  right: -5px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #787878;
}

.contacts-block {
  width: 260px;
  float: right;
  position: relative;
  margin: 22px 21px 0 0;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.contacts-block__phone {
  margin-left: 16px;
  color: #00a7d9;
}

.contacts-block__phone:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-position: -126px -107px;
  width: 13px;
  height: 14px;
  margin-right: 8px;
}

.contacts-block__email {
  margin-right: 5px;
  color: #00a7d9;
}

.contacts-block__email:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 89px;
  background-image: url("../img/sprite.png");
  background-position: -126px -47px;
  width: 17px;
  height: 13px;
}

.search-block {
  float: right;
  margin-top: 11px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.search-block:after {
  content: '';
  position: absolute;
  right: 18px;
  top: 11px;
  display: inline-block;
  background-image: url("../img/sprite.png");
  background-position: -103px -90px;
  width: 18px;
  height: 18px;
}

.search-block__input {
  width: 238px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #d4d4d4;
  color: #cecece;
  text-indent: 19px;
}

.search-block__input::-webkit-input-placeholder,
.search-block__input ::-moz-placeholder,
.search-block__input :-ms-input-placeholder,
.search-block__input :-moz-placeholder {
  color: #d4d4d4;
}

.header-navigation {
  clear: both;
  height: 47px;
}

.header-navigation__link {
  display: inline-block;
  height: 100%;
  margin-right: 35px;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
  color: #353537;
  font-size: 16px;
  letter-spacing: .1px;
  font-weight: bold;
}

.header-navigation__link:hover {
  border-bottom: 4px solid #fe5000;
}