* {
  margin: 0;
  padding: 0;
}

.block {
  margin-top: 20px;
}

.block-title {
  border-bottom: 2px solid black;
  height: 20px;
  margin-bottom: 13px;
}

.block-title__heading {
  display: inline;
  padding-right: 8px;
  background-color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-family: "PT Sans", sans-serif;
  color: #333;
}
.carousel {
  width: 620px;
  height: 250px;
  position: relative;
  margin-top: 21px;
  border-bottom: 5px solid #c80000;
  /*carousel spinner*/
}

.carousel__image-wrapper {
  float: left;
}

.carousel__article {
  width: 220px;
  float: right;
  position: relative;
  padding: 5px 1px 28px 12px;
}

.carousel__title {
  font-family: "PT Serif", serif;
  font-size: 30px;
  color: #c80000;
  line-height: 37px;
}

.carousel__text {
  max-height: 80px;
  overflow: hidden;
  margin-top: 12px;
  line-height: 18px;
}

.carousel__control {
  height: 25px;
  width: 95px;
  position: relative;
  float: right;
  margin: 6px 22px 0 0;
}

.carousel-counter {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 21px;
  top: -2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
}

.carousel-counter:hover {
  cursor: pointer;
}

.carousel__button {
  position: relative;
  width: 12px;
  height: 24px;
  border: 0;
  padding: 0;
  background: transparent;
}

.carousel__button_prev {
  position: absolute;
  left: 0;
  top: 0;
}

.carousel__button_prev::before {
  content: '';
  height: 12px;
  width: 12px;
  display: block;
  border-top: 3px solid #c80000;
  border-left: 3px solid #c80000;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.carousel__button_next {
  position: absolute;
  right: 0;
  top: 0;
}

.carousel__button_next::after {
  content: '';
  height: 12px;
  width: 12px;
  display: block;
  border-top: 3px solid #c80000;
  border-right: 3px solid #c80000;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.carousel__button::-moz-focus-inner {
  margin: 0;
  padding: 0;
}

.carousel__button-container {
  position: relative;
}

.carousel__spinner {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 2px;
}

.spinner-sector {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.spinner-sector:first-child {
  transform: rotate(0deg) skewY(-40deg);
}

.spinner-sector__contents {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: white;
  text-align: center;
  transition: background-color .5s;
}

.spinner-sector:first-child .spinner-sector__contents {
  transform: skewY(40deg) rotate(25deg);
}

.spinner-sector__contents:hover {
  background: violet;
}
html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-size: 87.5%;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #3d76cc;
}

.g-clearfix::before,
.g-clearfix::after {
  content: "";
  display: table;
}

.g-clearfix::after {
  clear: both;
}

.photo-icon,
.video-icon {
  vertical-align: middle;
}

.l-container {
  width: 940px;
  height: 1000px;
  margin: 0 auto;
}

.l-wrapper {
  width: 940px;
  margin: auto;
}

.l-main {
  width: 620px;
  float: left;
  margin: 0 20px 0 0;
}

.l-left-column {
  width: 380px;
  height: 320px;
  float: left;
  margin: 0 20px 10px 0;
}

.l-right-column {
  width: 220px;
  float: right;
  margin-top: 6px;
}

.l-sidebar {
  width: 300px;
  float: right;
  margin-top: 18px;
}
.hot-themes {
  width: 620px;
  height: 30px;
  background: #d7d8d9;
}

.hot-themes__title {
  float: left;
  padding: 6px 19px;
  background: #333;
  font-size: 18px;
  line-height: 19px;
  color: #fff;
}

.hot-themes__list {
  list-style: none;
}

.hot-themes__item {
  float: left;
  font-size: 18px;
  line-height: 19px;
  font-family: "PT Sans", sans-serif;
}

.hot-themes__item:hover {
  background-color: red;
}

.hot-themes__link {
  display: block;
  padding: 6px 12px;
  color: #333;
}
.news {
  width: 100%;
  max-height: 320px;
  height: 320px;
  margin-bottom: 12px;
}

.news__item {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  color: #333;
}

.news__list {
  padding-left: 14px;
}

.news__link {
  margin-left: -4px;
}

.news__link:hover {
  text-decoration: underline;
}

.news-title_special {
  margin-bottom: 9px;
  border-bottom-color: #c80000;
}

.news-heading_special {
  color: #3d76cc;
}

.newsfeed {
  width: 100%;
  max-height: 210px;
  position: relative;
}

.newsfeed__title {
  margin-bottom: 13px;
}

.newsfeed__list {
  max-height: 170px;
  overflow-y: hidden;
  padding-left: 15px;
}

.newsfeed__link:hover {
  text-decoration: underline;
}

.newsfeed__item {
  clear: both;
  padding-left: 10px;
  line-height: 19px;
  margin-bottom: 4px;
}

.newsfeed__item:first-child {
  height: 54px;
  list-style: none;
  padding-left: 0;
  margin-left: -15px;
  line-height: 25px;
}

.newsfeed__item:first-child .newsfeed__link {
  vertical-align: top;
  font-weight: bold;
}

.newsfeed__item:first-child:before {
  content: '';
  background-image: url("../i/ibrahimovic.png");
  width: 100px;
  height: 54px;
  float: left;
  margin-right: 5px;
}

.newsfeed__item:first-child ::after {
  content: '';
}

.newsfeed__link {
  text-align: left;
}
.main-news {
  height: 200px;
  margin: 25px 0 19px;
}

.main-news__title {
  height: 22px;
  margin-bottom: 10px;
}

.main-news__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main-news__item {
  width: 142px;
}

.main-news__figcaption {
  max-height: 70px;
  overflow: hidden;
  margin-top: -3px;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #333;
}

.website-name {
  font-size: 10px;
  color: #bfbfc0;
}
.media__item {
  position: relative;
  margin-bottom: 20px;
}

.media__list {
  list-style: none;
}

.media__title {
  width: 100%;
  max-height: 40px;
  overflow: hidden;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.media__image {
  margin-bottom: -4px;
}

.media__icon {
  position: absolute;
  bottom: 47px;
  left: 8px;
}
.video {
  margin-bottom: 21px;
}

.video__title-block {
  height: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.video__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #6a0099;
  padding: 0 10px;
}

.video__title {
  width: 141px;
  max-height: 100%;
  overflow: hidden;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: -4px 0 0 10px;
  letter-spacing: -1.1px;
}

.video__item {
  margin-bottom: 10px;
}

.video__item:hover .video__title {
  color: deepskyblue;
}

.video__list {
  list-style: none;
}

.video__figure {
  display: flex;
  position: relative;
}

.video__icon {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.more-video__block {
  height: 24px;
  margin-bottom: 5px;
  border-bottom: 5px solid black;
}

.more-video__heading {
  color: #3d76cc;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
}