.recipe-item {

  &__block {
    width: 95%;
    height: 60px;
    overflow: hidden;
    margin: 5px auto;
    padding: 5px;
    background-color: #66BB6A;
    color: #fff;
    border-radius: 20px;

    &_open {
      overflow: visible;
      height: auto;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__name {
    display: block;
    margin-bottom: 27px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 20px;

    &:hover {
      color: #FFF176;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__ingredients {
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
  }
}

.ingredients {

  &__title {
    padding-top: 10px;
    color: #90A4AE;
    text-align: center;
    text-transform: uppercase;
  }

  &__buttons-wrapper {
    display: flex;
  }

  &-list {

    &__item {
      margin: 10px 20px 10px 0;
      padding: 5px;
      background-color: #DCEDC8;
      color: black;
      list-style: none;
    }
  }
}
