.recipe-item__block {
  width: 95%;
  height: 60px;
  overflow: hidden;
  margin: 5px auto;
  padding: 5px;
  background-color: #66BB6A;
  color: #fff;
  border-radius: 20px; }
  .recipe-item__block_open {
    overflow: visible;
    height: auto; }
  .recipe-item__block:hover {
    cursor: pointer; }

.recipe-item__name {
  display: block;
  margin-bottom: 27px;
  padding: 0 10px;
  font-weight: bold;
  font-size: 20px; }
  .recipe-item__name:hover {
    color: #FFF176;
    text-decoration: underline;
    cursor: pointer; }

.recipe-item__ingredients {
  width: 100%;
  border-radius: 20px;
  background-color: #fff; }

.ingredients__title {
  padding-top: 10px;
  color: #90A4AE;
  text-align: center;
  text-transform: uppercase; }

.ingredients__buttons-wrapper {
  display: flex;
  position: relative; }

.ingredients-list {
  padding-left: 20px; }
  .ingredients-list__item {
    margin: 10px 20px 10px 0;
    padding: 5px;
    background-color: #DCEDC8;
    color: black;
    list-style: none; }

.target {
  width: 109px;
  height: 36px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
  background-color: transparent; }
