.recipe-item__block {
  width: 95%;
  margin: 5px auto;
  padding: 5px;
  background-color: #66BB6A;
  color: #fff;
  border-radius: 20px; }
  .recipe-item__block_open {
    height: 200px; }

.recipe-item__name {
  display: block;
  padding: 0 10px;
  font-weight: bold;
  font-size: 20px; }
  .recipe-item__name:hover {
    color: #FFF176;
    text-decoration: underline;
    cursor: pointer; }
