.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu {
  width: 100%;
  height: 80px;
  background-color: royalblue;
}

.menu-item {
  padding: 10px;
  line-height: 80px;
}
.menu-item:hover {
  background-color: orange;
}

.menu__logo {
  height: 60px;
  vertical-align: middle;
}

.test {
  background-color: green;
  color: red;
}

.Players-block {
  display: flex;
}

.signin-block {
  float: right;
  display: block;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.teams-conference {
  display: inline-block;
  margin: 0 auto;
  padding: 50px;
}

.team {
  /*display: none;*/
}

