@import "../!general/const";
@import "../header/header";

.footer {

  &-menu-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 84px;
    margin-bottom: 85px;
  }

  &-company {
    overflow: auto;
    padding-bottom: 166px;
  }
}

.menu-block {
  width: 31.5%;

  &__title {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 28px;
    color: #a8abae;
    border-bottom: 2px solid #a8aaad;
    font-size: 24px;
    font-family: 'Myriad Pro', sans-serif;
    letter-spacing: 1.8px;

    &:hover {
      color: #fff;
      border-bottom: 2px solid #fff;
    }
  }

  &__company {

  }

  &__link {
  }
}

.footer-menu {
  column-count: 2;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 29px;

  &__link {
    display: block;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 30px;
    
    &:hover {
      color: $orange;
    }
  }
}

.social-menu {

  &__link {

    &:before {
      content: '';
      display: inline-block;
      background-image: url(../../img/sprite.png);

    }

    &_facebook {
      &:before {
        background-position: -126px -87px;
        width: 10px;
        height: 20px;
      }
    }

    &_twitter {
      &:before {
        background-position: -126px -17px;
        width: 18px;
        height: 15px;
      }
    }

    &_linkedin {
      &:before {
        background-position: -126px 0px;
        width: 18px;
        height: 17px;
      }
    }

    &_google {
      &:before {
        background-position: -93px -63px;
        width: 18px;
        height: 20px;
      }
    }

    &_youtube {
      &:before {
        background-position: -86px -90px;
        width: 17px;
        height: 21px;
      }
    }
  }
}


.title-main {

  &_footer {
    @extend .title-main;
    color: #fff;
  }

  &__additional_footer {
    @extend .title-main__additional;
    color: #fff;
  }
}

.logo-block_footer {
  margin-right: 99px;
}

  .company-rights {
    float: left;
    max-width: 63%;
    color: #a8abae;
    font-family: 'Myriad Pro', sans-serif;

    &__reserved {
      margin: 6px 0 0;
      font-size: 14px;
      letter-spacing: .4px;
    }

    &__description {
      margin: 3px 0;
      font-size: 12px;
      line-height: 17px;
      word-spacing: .5px;
    }

    &__policy,
    &__terms {
      color: #fff;
      
      &:hover {
        color: $orange;
      }
    }
  }

@media screen and (min-width: 940px) and (max-width: 1210px) {

  .footer {

    &-wrapper {

      width: 95%;
      margin: 0 auto;
    }

    &-company {
      display: flex;
      justify-content: space-between;
    }
  }


}
@media screen and (min-width: 768px) and (max-width: 939px) {

  .footer {

    &-wrapper {
      width: 95%;
      padding: 0;
    }

    &-menu-section {
      padding-top: 20px;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &-company {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 60px;
    }
  }

  .menu-block {
    width: 49%;
    margin: 0 auto;
  }


  .logo-block_footer {
    margin: 20px 0;
  }

  .company-rights {
    max-width: 95%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {

  .footer {

    &-wrapper {
      width: 95%;
      padding: 0;
    }

    &-menu-section {
      padding-top: 20px;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &-company {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 60px;
    }
  }

  .menu-block {
    width: 49%;
    margin: 0 auto;
  }


  .logo-block_footer {
    margin: 20px 0;
  }

  .company-rights {
    max-width: 95%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {

  .footer {

    &-wrapper {
      width: 95%;
      padding: 0;
    }

    &-menu-section {
      padding-top: 20px;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &-company {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 60px;
    }
  }

  .menu-block {
    width: 95%;
    margin: 0 auto;
  }

  .logo-block_footer {
    margin: 20px 0;
  }

  .company-rights {
    max-width: 95%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .footer {

    &-wrapper {
      width: 95%;
      padding: 0;
    }

    &-menu-section {
      padding-top: 20px;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &-company {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .menu-block {
    width: 95%;
    margin: 0 auto;
  }

  .logo-block_footer {
    margin: 20px 0;
  }

  .company-rights {
    max-width: 95%;
    margin-top: 10px;
  }
}


