@import "../!general/const";
@import "../header/header";

.footer-menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-block {
  width: 30%;

  &__title {
    color: #a8abae;
    border-bottom: 1px solid #a8aaad;
  }
}

.footer-menu {
  column-count: 2;
  
  &__link {
    display: block;
    color: #fff;
  }
}

.social-menu {

  &__link {

    &:before {
      content: '';
    }
  }
}

.title-main {

  &_footer {
    @extend .title-main;
    color: #fff;
  }

  &__additional_footer {
    @extend .title-main__additional;
    color: #fff;
  }
}

  .company-rights {
    float: left;
    max-width: 70%;
    color: #a8abae;
    font-family: 'Myriad Pro', sans-serif;

    &__reserved {
      font-size: 14px;
    }

    &__description {
      font-size: 12px;
    }

    &__policy,
    &__terms {
      color: #fff;
    }
  }


