@import '../!general/const';

.employee {

  &-block {

  }

  &-img {
    float: left;
  }

  &-info {
    width: 50%;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    &__contacts {
    }

    &__name {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: $blue;
    }

    &__description {
      float: left;
      font-family: 'Myriad Pro', sans-serif;
      font-size: 14px;
    }
  }
}

.socials__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $blue;

  &_twitter {
    display: block;
    background-image: url(../../img/sprite.png);
    background-position: -126px -60px;
    width: 17px;
    height: 13px;
  }

  &_facebook {
    display: block;
    background-image: url(../../img/sprite.png);
    background-position: -136px -87px;
    width: 8px;
    height: 18px;
  }

  &_linkedin {
    display: block;
    background-image: url(../../img/sprite.png);
    background-position: -126px -32px;
    width: 16px;
    height: 15px;
  }


}

/*employee honors*/

.employee-honors {
  width: 60%;
  clear: both;
  float: left;
}

.honors-article {

  width: 50%;
  float: left;
  &__date {
    color: #555557;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: $blue;
  }

  &__more {
    color: $blue;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }

  &__description {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }
}


/*employee-skills*/

.employee-skills {
  width: 40%;
  float: right;

}

.skill-bar {
  width: 70%;
  height: 40px;
  background-color: $orange;
  color: #fff;
  font-weight: bold;

  &_color2 {
    width: 100%;
    background-color: $blue;
  }

  &_color3 {
    width: 65%;
    background-color: #36ba2f;
  }
}