* {
  margin: 0;
  padding: 0;
}

.block {
  margin-top: 20px;
}

.block-title {
  border-bottom: 2px solid black;
}

.block-title__heading {
  display: inline;
  padding: 0 10px 0 0;
  background-color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-family: 'PT Sans', sans-serif;
  color: #333;
}
.carousel {
  width: 620px;
  height: 250px;
  border-bottom: 5px solid #c70000;
}

.carousel__image-wrapper {
  float: left;
}

.carousel__article {
  width: 220px;
  float: right;
  position: relative;
  padding: 5px 10px 28px 0;
}

.carousel__title {
  font-family: 'PT Serif', serif;
  font-size: 30px;
  color: #c70000;
}

.carousel__text {
  max-height: 80px;
  overflow: hidden;
  margin-top: 20px;
}

.carousel__control {
  position: absolute;
}

.carousel__button {
  position: relative;
  width: 12px;
  height: 24px;
  border: 0;
  padding: 0;
  background: transparent;
}

.carousel__button::before,
.carousel__button::after {
  content: '';
  position: absolute;
  border-bottom: 3px solid #c70000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 10px;
}

.carousel__button::-moz-focus-inner {
  margin: 0;
  padding: 0;
}

.carousel__button_prev::before {
  transform: rotate(-45deg);
}

.carousel__button_prev::after {
  transform: rotate(45deg);
}

.carousel__button_next::before {
  transform: rotate(45deg);
}

.carousel__button_next::after {
  transform: rotate(-45deg);
}
.feedback {
  margin-top: 20px;
}

.feedback__item {
  clear: both;
}

.feedback__item:first-child {
  list-style: none;
}

.feedback__item:first-child .feedback__link {
  display: block;
  float: right;
  vertical-align: top;
  width: 70%;
}

.feedback__item:first-child:before {
  content: '';
  background-image: url("../i/ibrahimovic.png");
  width: 100px;
  height: 50px;
  display: block;
  float: left;
}

.feedback__item:first-child ::after {
  content: 'SDFSDF';
}
html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-size: 87.5%;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

.g-clearfix::before,
.g-clearfix::after {
  content: "";
  display: table;
}

.g-clearfix::after {
  clear: both;
}

.l-container {
  width: 940px;
  margin: 0 20px;
}

.l-wrapper {
  width: 940px;
  margin: auto;
}

.l-main {
  width: 620px;
  float: left;
  margin: 0 20px 0 0;
}

.l-left-column {
  width: 380px;
  height: 320px;
  float: left;
  margin: 0 20px 10px 0;
}

.l-right-column {
  width: 220px;
  float: right;
}

.l-sidebar {
  width: 300px;
  float: right;
}

.hot-themes {
  width: 620px;
  height: 30px;
  background: #d7d8d9;
}

.hot-themes__title {
  float: left;
  padding: 6px 16px;
  background: #333;
  font-size: 16px;
  color: #fff;
}

.hot-themes__list {
  list-style: none;
}

.hot-themes__item {
  display: inline-block;
  padding: 6px 16px;
}

.hot-themes__link {
  color: #333;
}

.main-news {
  height: 200px;
}

.main-news__title {
  height: 20px;
  margin-bottom: 10px;
}

.main-news__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main-news__item {
  width: 142px;
}

.main-news__figcaption {
  max-height: 70px;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #333;
}