@import '../!general/const';

.breadcrumbs-wrapper {
  width: $wrapper-width;
  padding: 0;
  height: 100%;
  margin: 0 auto;
}

.breadcrumbs__title {
  line-height: 69px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}



.breadcrumbs {
  float: right;
  margin: 0;
  line-height: 69px;

  &__item {
    display: inline-block;
    margin-left: 11px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #fff;

    &:after {
      content: '';
      display: inline-block;
      margin: 0 0 3px 16px;
      background-image: url(../../img/sprite.png);
      background-position: -111px -63px;
      width: 11px;
      height: 7px;
    }

    &:last-child {

      &:after {
        content: '';
        display: none;
      }
    }
  }
  
  &__link {
    color: #a9dbef;
    
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 940px) and (max-width: 1210px) {

  .breadcrumbs-wrapper {
    width: $wrapper-width-small-screen;
  }


}

@media screen and (min-width: 768px) and (max-width: 939px) {

  .breadcrumbs-wrapper {
    width: $wrapper-width-small-screen;
    padding: 0;
  }

  .breadcrumbs {
    padding: 0;
    margin-right: 10px;

    &__title {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {

  .breadcrumbs-wrapper {
    width: $wrapper-width-small-screen;
    padding: 0;
  }

  .breadcrumbs {
    padding: 0;
    margin-right: 10px;

    &__title {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {

  .breadcrumbs-wrapper {
    width: $wrapper-width-small-screen;
    padding: 0;
  }

  .breadcrumbs {
    padding: 0;
    margin-right: 10px;

    &__title {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .breadcrumbs-wrapper {
    width: $wrapper-width-small-screen;
    padding: 0;
  }

  .breadcrumbs {
    padding: 0;
    margin-right: 10px;

    &__title {
      margin-right: 10px;
    }
  }
}