@import '../general/const';

.carousel {
  width: $main-block-width;
  position: relative;
  margin-top: 21px;
  border-bottom: 5px solid $red;

  &__image {

    &_small {
      display: none;
    }

    &-wrapper {
      float: left;
      margin-bottom: -3px;
    }
  }

  &__article {
    width: 216px;
    float: left;
    position: relative;
    padding: 6px 1px 30px 22px;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 30px;
    color: $header-text-color;
    line-height: 37px;
  }

  &__text {
    max-height: 80px;
    overflow: hidden;
    margin-top: 8px;
    line-height: 18px;
  }

  &__control {
    height: 25px;
    width: 95px;
    position: relative;
    float: right;
    margin: 6px 22px 10px 0;
  }


  &-counter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 21px;
    top: -2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    font-family: $main-font;

    &:hover {
      cursor: pointer;
    }
  }

 &__button {
    position: relative;
    width: 12px;
    height: 24px;
    border: 0;
    padding: 0;
    background: transparent;

    &_prev {
      position: absolute;
      left: 0;
      top: 0;

      &::before {
        content: '';
        height: 12px;
        width: 12px;
        display: block;
        border-top: 3px solid $red;
        border-left: 3px solid $red;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    &_next {
      position: absolute;
      right: 0;
      top: 0;

      &::after {
        content: '';
        height: 12px;
        width: 12px;
        display: block;
        border-top: 3px solid $red;
        border-right: 3px solid $red;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    &::-moz-focus-inner {
      margin: 0;
      padding: 0;
    }

    &-container {
      position: relative;
    }
  }

  /*carousel spinner*/

  &__spinner {
    display: block;
    width: 18px;
    height: 18px;
    background-color: $black;
    border-radius: 50%;
    position: absolute;
    right: 13px;
    top: 2px;
  }
}

.spinner-sector {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
}

.spinner-sector:first-child {
  transform: rotate(0deg)
             skewY(-40deg);
}

.spinner-sector__contents {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: white;
  text-align: center;
  transition: background-color .5s;
}

.spinner-sector:first-child .spinner-sector__contents {
  transform: skewY(40deg)
             rotate(25deg);
}

.spinner-sector__contents:hover {
  background: violet;
}

@media screen and (min-width: 768px) and (max-width: 939px) {

  .carousel {
    width: 100%;

    &__article {
      min-width: 42%;
      min-height: 175px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

  .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    &__image-wrapper {
      display: flex;
      justify-content: center;
      min-height: 250px;
    }

    &__article {
      width: 100%;
      max-height: 150px;
      overflow: hidden;
      padding: 20px 0;
      text-align: center;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__image-wrapper {
      display: flex;
      justify-content: center;
      min-width: 300px;
    }

    &__image {
      display: none;

      &_small {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
    }

    &__article {
      width: 100%;
      max-height: 150px;
      overflow: hidden;
      padding: 20px 0;
      text-align: center;
    }
  }
}







