<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
    <script src="js/template.js" defer></script>
    <script src="js/firebase.js" defer></script>
    <script src="js/skills.js" defer></script>
    <script src="js/profile.js" defer></script>
</head>
<body>
<div class="wrapper">
    <div class="burger-menu">
        <div id="burger-icon" class="burger-icon">
            <span class="burger-icon__strip"></span>
            <span class="burger-icon__strip"></span>
            <span class="burger-icon__strip"></span>
        </div>
        <ul class="top-menu">
            <a href="index.html" class="top-menu__link">Home</a>
            <a href="#education" class="top-menu__link">Education</a>
            <a href="#experience" class="top-menu__link">Experience</a>
            <a href="#skills" class="top-menu__link">Skills</a>
        </ul>
    </div>
    <div class="education-block" >
        <h2 class="heading" id="education">Education</h2>
        <div id="education-temp-block">
        <script type="text/html" id="mypage_education">
            <div class="education-block__place">
                <div class="education-block__time">
                <p class="education-year"><%= usersInfo.users[0].id%></p>
                <div class="education-line"></div>
            </div>
                <div class="education-block__description">
                <p class="education-block__title"><%= usersInfo.users[0].education[0].title%></p>
                <p class="education-block__responsibilities"><%= usersInfo.users[0].education[0].responsibilities%></p>
            </div>
         </div>
        </script>
        </div>
    </div>
    <div class="experience-block">
        <h2 class="heading" id="experience">Experience</h2>
        <div id="experience-temp-block">
            <script type="text/html" id="mypage_experience">
        <div class="experience-block__job">
            <div class="job-title">
                <p class="job-title__company"><%= usersInfo.users[0].experience[0].company%></p>
                <p class="job-title__time"><%= usersInfo.users[0].experience[0].period%></p>
            </div>
            <div class="job-description">
                <p class="job-description__position"><%= usersInfo.users[0].experience[0].title%></p>
                <p class="job-description__responsibilities"><%= usersInfo.users[0].experience[0].responsibilities%></p>
            </div>
        </div>
        </script>
    </div>
    </div>
    <div class="skills-block">
        <h2 class="heading" id="skills">Skills</h2>
        <div class="skills-section">
            <section class="skills-selection__section">
                <input type="text" id="skill-name" class="skills-input skill-name" placeholder="Enter your skill">
                <label class="input-label" for="skill-name">Skill name</label>
                <p class="skills-name__error-message error-message">*should be not longer than 100 characters</p>
            </section>
            <section class="skills-selection__section">
                <input type="text" id="skill-range" class="skills-input skill-range" placeholder="Enter skill range">
                <label class="input-label" for="skill-range">Skill range</label>
                <p class="skills-range__error-message error-message">*should be not bigger than 100 points, should be a number</p>
            </section>
            <button class="button" id="add-skill-btn">Add your skill</button>
        </div>
    </div>
    <div class="skills-result">

    </div>

</div>

<a href="#burger-icon" id="to-top-button"></a>
<!--<script src="js/data.json"></script>-->

</body>
</html>