// Path

$image-path: '../img/';

// Colors

$orange: #fe5000;
$blue: #00a7d9;
$blue-breadcrumbs: #29a5d5;
$grey: #353537;


// Dimensions

$wrapper-width: 1170px;
$main-block-width: 620px;

// Blocks

// Hot Themes

$hot-themes-title-background: #333;

// Fonts

$main-font: 'PT Sans', sans-serif;
$secondary-font: 'PT Serif', serif;