
// Colors

$c-logo: #fe5000;
$c-main: #00a7d9;
$c-panel: #29a5d5;
$c-nav-link: #353537;


// Dimensions

$wrapper-width: 1170px;
$wrapper-width-small-screen: 95%;
$main-block-width: 620px;

// Hot Themes

$hot-themes-title-background: #333;
