
.main-news {
  height: 200px;

  &__title {
    height: 9px;
    margin-bottom: 20px;

  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 142px;

  }


}
